* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.logo {
  width: 10rem;
  height: 3rem;
}


li {
  list-style: none;
}

.flag{
  width: 2rem;
}

.col:hover {
  cursor: pointer;
  .infos {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.758);
    color: white;
  }
  
  
} 

.card-img {
  height: 100%;
}

.infos {
  opacity: 0;
  
}

